* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}

body {
  overflow-x: hidden;
}
.form-control {
  width  : 95%;
}

@import 'color';
@import 'header';
@import 'section';
@import 'tabs';